
/* ========================================================
* ENTS Custom
*
* File: ents.css
* Description: General template styles, overriden bootstrap styles
* Version: 1.0 
* ======================================================== */

/* Bootstrap overrides */
.resetlist {
	list-style:none;
	padding:0;
	margin:0;
}
ul ul, ol ul, ul ol, ol ol, resetlist {
	list-style:none;
}
/* Global application custom init */
.tiles {
	margin:0;
}
.box .box-title {
	margin-top:5px;
}
.fc .fc-toolbar {
	border: 1px solid #ddd;
    padding-bottom: 5px;
    padding-top: 8px;
}
.box .box-title.noheader {
	padding:0;
	height:2px;
	border:none;
}
.box .box-title.condensed {
	padding-top:4px;
	padding-bottom:4px;
}
.box.box-bordered .table.table-bordered.border-cells th:last-child, .box.box-bordered .table.table-bordered.border-cells td:last-child {
	border-right: 1px solid #ddd;
}
blockquote.basic {
	font-size:15px;
}
/* Header custom Override */
#navigation #brand {
	min-width:148px;
	padding-right:inherit;
}

/* Left Navigation Override */


/* Content area generic styles */
#main .dashboard .stats > li {
	margin-right:0;
	margin-bottom:4px;
	padding-top:0; 
	padding-bottom:0;
	padding-right:5px;
	padding-left:5px;
}
#main .dashboard .stats > li i {
	margin-top:10px;
	font-size: 24px;
}
#main .dashboard .stats > li a {
	padding: 15px 20px;
    text-align: left;
    text-decoration: none;
}
#main .dashboard .tiles > li > a span.count > i.glyphicon {
	font-size: 36px;
    margin-right: 0;
    margin-top: -10px;
}
#main .dashboard .boxitemlabel {
	display:block; width:100%; padding:6px; font-size:10px; text-align:left;
}

.reportdashboard ul.stats {
    box-sizing: border-box;
    display: table;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}
.reportdashboard ul.stats:not(.no-dividers) li {
    border-right: 1px solid #d9d9d9;
}
.reportdashboard ul.stats li {
    display: table-cell;
    padding: 15px;
}
.reportdashboard ul.stats li:last-child {
    border-right: medium none;
}
.reportdashboard ul.stats li strong, ul.stats li small {
    display: block;
    padding: 5px 0;
    text-align: center;
}
.reportdashboard ul.stats li strong {
    font-size: 16px;
    font-weight: bold;
}
.reportdashboard ul.stats li small {
    color: #adadad;
    font-size: 11px;
}
.reportdashboard ul.stats li > div {
    margin: 5px auto;
}
.reportdashboard ul.stats li .title {
    color: #555555;
    display: block;
    font-size: 15px;
    padding-top: 5px;
    text-align: center;
}
.reportdashboard ul.stats li .title:hover {
    color: #222222;
    text-decoration: none;
}
.reportdashboard ul.stats li .description {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    margin-left: 5px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
.reportdashboard ul.stats li.light strong {
    color: #888888;
}
.label.dashforapproval {
	display:block; width:100%; padding:6px; font-size:12px; text-align:left;
}
.table.forapprovalitems a.item {
	display:inline-block; width:145px; text-align:center; text-decoration:none; margin-right:5px;
}
.table.forapprovalitems a.item img.imagecontainer {
	border-radius: 47px; margin: 0; padding: 0; width: 80px;
}
.table.forapprovalitems a.item .approvalsummary {
	display:block; width:100%; padding:3px; font-size:10px; font-weight:normal; text-align:center; background:none; color:#666;
}
.table.forapprovalitems a.viewall {
	vertical-align:top; display: inline-block; margin-top: 15px; float:right
}
.maindashboard .fc-header-title h2 {
	font-size:18px;	
}
.maindashboard .fc-event-skin {
    background-color: #63abdb;
    border-color: #204e81;
}

/* list search and filter section */
ul.managelist {
	padding:0; 
	margin:0; 
	list-style:none; 
	width:100%;
}
ul.managelist > li {
	padding:0; 
	margin:0; 
	float:left; 
	margin-right:10px; 
	padding:2px;
	height:40px;
}

ul#datalist, ul.datalist {
	clear:both;
	border-top:1px solid #DDDDDD;
	border-bottom:2px solid #DDDDDD;
	position:relative;
	margin:6px;
}
ul#datalist > li, ul.datalist > li {
	border-bottom:dashed 1px #D1D1D1;
	min-height:90px;
	height:auto;
}
ul#datalist > li:hover, ul.datalist > li:hover {
	
}
ul#datalist > li .control-label, ul.datalist > li .control-label, .table tr td.widgetlabel {
	color:#707070;
	font-weight:bold;
	text-align:left;
}
ul#datalist > li {
	position:relative;
}
ul#datalist > li table.itemlist td, ul.datalist > li table.itemlist td {
	padding:2px;	
}
ul#datalist > li:nth-child(odd), ul.datalist > li:nth-child(odd) {
  background-color: #f9fcfd;
}
ul#datalist > li, ul#datalist > li:nth-child(odd) {
  background-color:#f9fcfd;
}
ul#datalist > li.unread, ul#datalist > li:nth-child(2n+1).unread, ul#datalist > li:nth-child(odd).unread, .unread {
	background-color:#e0eef8;
}
ul#datalist > li.unread, ul.datalist > li.unread, .unread {
	font-weight:bold;
	font-size:12px;	
}
.dropdown-menu.extended li.unread {
	background-color:#e0eef8;
}
.dropdown-menu.extended {
	width:310px;
	left:0;
}
.thumbnail, .selector {
	vertical-align: top;
	text-align:left;
}
.thumbnail {
	min-height:100px;
}
.selector {
	max-width:120px;
}
.message {
	position:relative;
	height:auto;
}
.message h3.sender {
	/*color: #666666;*/
	text-decoration:none;
	margin-top:5px;
	font-size:14px;	
}
.message .summary {
	width:90%;
	margin-top:6px;
}
.message .summary span, .message .summary span a {
	white-space:normal;
	font-size:14px;
}
.messagedate {
	font-size:12px !important;
	font-weight:normal;
	color:#666;
}

/* Global Search Styles */
#divResult {
	position:absolute;
	width:320px;
	display:none;
	margin-top:0;
	margin-left:0;
	border-top:0px;
	overflow:hidden;
	box-shadow: 0px 0px 5px #999;
	border: 1px solid #6DADBD;
	background-color: white;
	z-index:900;
	max-height:600px;
	overflow-y:scroll;
	list-style:none;
}
#divResult > ul {
	padding-left:0;
}
.display_box {
	padding:4px; 
	border-top:solid 1px #dedede; 
	font-size:12px; 
	min-height:0;
	height:auto;
	color:#666666;
	padding-bottom:5px;
}
li.display_box.selected {
	background:#EEEFEE;
	color:#565B4F;
	cursor:pointer;
}
.separator {
	padding:5px 10px 5px 10px; 
	/*border:solid 1px #666; */
	height:auto;
	background-color:#999;
	color:#fff;
}
.separator .allresults {
	display:inline;
	float:right;
	position:relative;
}
.separator .allresults a {
	color:#fff;
	text-decoration:none;
}
.separator span {
	width:100%; 
	display:inline;
	color:#fff; 
	text-align:left;
	font-weight:bold;
	font-size:14px; 
}
.whitebg {
	background-color:#fff;
}
.stylewidget {
	position:absolute;
	right:0; 
	top:45px; 
	/*z-index:10000;*/
}
.stylewidget #style2 {
	margin-left:-5px;
}
.listactions > li {
	padding-left:6px;
	padding-right:6px;
	margin-bottom:2px;
	margin-top:2px;
	float:left;
}
.listactions > li:first-child {
	padding-left:0;
}
.listactions > li:last-child {
	padding-right:0;
}
.form-horizontal .control-label {
	font-weight:bold;
}
label.error {
	background-color: #EDDBE3;
    border-color: #E8D1DF;
    background-repeat: no-repeat;
    color: #BD4247;
    padding: 5px 15px 5px 12px;
	margin: 5px 0 0 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 12px;
	width:100%;
	min-height:25px;
}
span.edit, .buttons {
	display:none;
}
.table tbody tr.editable:hover .buttons {
	display:block;
}
.testborder {
	border-color:#d4d4d4;
}
.gridactions {
	position:absolute;
	right:0;
	top:0;
}
.peoplelist .peoplewrapper {
	height:150px;
}
.peoplelist .peopleinfo {
	margin-left:0;
}
.peoplelist .thumb {
	float:none;
}

/* Jquery stepy styles */
.button-back { float: left; }
.button-next, .finish { float: right; }
.button-back, .button-next, .finish {
	/*border: 1px solid #C9C4BA; color: #7F0055; cursor: pointer; font: 10px verdana; padding: 3px 10px; text-decoration: none;
	-khtml-border-radius: 3px; -moz-border-radius: 3px; -opera-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;*/
	margin-bottom: 20px; margin-right: 10px;
}
.button-back {
	margin-left: 10px;
}

.step {
	/*border: 1px solid #DDD; 
	-khtml-border-radius: 3px; -moz-border-radius: 3px; -opera-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;*/
	clear: left; 
	width: 100%; 
	padding:5px;
}

.stepy-titles { list-style: none; margin: 0 0 0 15px; padding: 0; width: 100%; }
.stepy-titles li { color: #DDD; cursor: pointer; font-weight: bold; font-size: 16px; float: left; padding: 10px 50px 10px 10px; }
.stepy-titles li span { font-size: 12px; display: block; font-weight:500; }
.stepy-titles .current-step { color: #369; cursor: auto; }

.tabs.tabs-inline.tabs-left {
	width:90%;
}
.tabs.tabs-inline.tabs-left > li > a {
	font-size:16px;
}
#profile_view .form-group {
    margin-bottom: 10px;
}
#profile_view .form-group .control-label {
	font-size:12px;
}
#filenamedisplay {
	height:34px;
}

.theme-settings > li span {
    color: #666;
    font-weight: bold;
    padding-left: 8px;
}
.pager-outer .pager-inner {
	text-align:center;
}
.labeldescription.noresults {
    font-size: 20px;
    margin: 75px auto 0;
	margin-bottom:200px;
    text-align: center;
    width: 100%;
}

.hidden, .hidden_row, .hidden_column, .hidden_container, .hidden_row_input, .hidden_row_med, .hidden_row_person, .hidden_row_family, .hidden_row_educ, .hidden_row_job, .hidden_row_ref {
	display:none;
}
#columnfilter {
	width:150px; 
	height:auto; 
	min-height:800px;
	margin-top:14px;
	margin-top:3px;
}
#columnfilter .checkbox {
	font-weight:normal;
	height:0;
	margin-top:0;
	margin-bottom:2px;
	font-size:12px;
	white-space:nowrap;
}
#columnsection {
	height:856px;
	width:148px; 
	padding-left:8px; 
	border-right: 1px solid #dedede;
	overflow:scroll;
}
#disabledoption, .disabledoption {
	background-color: #e1e1e1;
	color: #d4d4d4;
}
.form-search .listfilter > li {
	margin-bottom:5px;
}
table.table tbody.monitorbody tr td.variabletd {
	font-size:12 !important;
}
th.monitorhead span {
	display:block;
	font-size:10px; 
	font-weight:normal;
}
.box.box-bordered .table.dataTable-fixedcolumn.DTFC_Cloned td {
	text-align:left;
}
.popupdiv .form-horizontal .control-label {
	font-size:12px;
}
.modal-body {
	padding-top: 10px;
}
.checkbox.checkbox-inline input[type="checkbox"] {
	width:0;
	height:0;
}
#calendar_index .fc-day-grid-event {
	color:#fff;
}
.table > thead > tr > th {
	vertical-align:top;
}
body.print {
	padding:15px;
}
body.print .hideonprint {
	display:none;
}
.bluelinks, .btn.bluelinks {
	color: #368ee0;
}
.tabs > li .fa {
	margin-right:12px;
}